body {
  background: linear-gradient(180deg, #14131b 0%, #08070b 100%);
  padding: 0.5vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;

}

.generator-text {
  text-align: center;
  color: #817d92;
  font-size: 22px;
  margin-top: 64px;
}

@media (min-width: 768px) {
  body {
    padding: 10vw;
  }

  .generator-text {
    margin: auto;
    margin-bottom: 32px;
  }
}

@media (min-width: 1336px) {
  body {
    padding: 5vw 20vw;
  }

  .generator-text {
    margin: auto;
    margin-bottom: 32px;
    margin-top: -20px;
  }
}
