* {
  padding: 0.5vw;
}

.main {
  background-color: #24232c;
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin: auto;
  padding: 10px;
  margin-bottom: 24px;
  align-items: center;
}
.logo {
  color: #a4ffaf;
}
.logo:hover {
  color: white;
  cursor: pointer;
}

@media (min-width: 768px) {
  .main {
    width: 60vw;
  }
}

@media (min-width: 1336px) {
  .main {
    width: 40vw;
  }
}
